.project-edit-button {
    border: transparent;
    background-color: transparent;
}

.project-edit-button:hover {
    background-color: lightgrey;
}

.project-delete-button {
    border: transparent;
    background-color: transparent;
}

.project-edit-delete-button {
    margin: 25px 25px;
}
