.project-edit-button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  color: gray;
}

.project-edit-button:hover {
  color: black;
}


.delete-button {
  border: transparent;
  background-color: white;
  padding: 10px 10px;
  margin: 1px 3px;
  cursor: pointer;
  border-radius: 5px;

}

.delete-button:hover {
  background-color: rgba(211, 211, 211, 0.459);
}

.edit-delete-container {
  display: flex;
  flex-direction: column;
}

.edit-buttons-container {
  min-width: 250px;
  max-height: 200px;
}

.menu_separator {
  margin: 2px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}
