.login-button {
    border-radius: 8px;
    border: transparent;
    background-color: #E44232;
    color: white;
    padding: 5px 30px;
    font-weight: bold;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.input {
    border-radius: 5px;
    border: 1px solid grey;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 13px;
    padding-left: 13px;
    margin-left: 10px;
    margin-right: 10px;

}
