.login-button {
    border-radius: 3px;
    border: transparent;
    background-color: #E44232;
    color: white;
    padding: 5px 78px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 10px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    /* justify-content: space-evenly; */
  flex-direction: column;

}

.button-container {
    display: flex;
    flex-direction: column;

}

.input {
    border-radius: 3px;
    border: 1px solid grey;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 13px;
    padding-left: 13px;
    margin-left: 10px;
    margin-right: 10px;

}

.errors-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: red;
}
