.task-container {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.task-buttons-container {
    display: flex;
    flex-direction: column;
}

.task-buttons-container:hover .task-edit-delete-button {
    display: block;
}

.task-buttons-container .task-edit-delete-button{
    display: none;
}

.title {
    margin-bottom: 2px;
}

.task-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    
}

.content {
    color: gray;
    word-break: break-all;
    margin-top: 5px;
    font-size: small;
}
