.task-container {
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    min-width: 40vw;
}

.task-buttons-container {
    display: flex;
    flex-direction: column;
}

.task-checkbox {
    display: flex;
    flex-direction: row;
}

.task-buttons-container:hover .task-edit-delete-button {
    display: block;
}

.task-buttons-container .task-edit-delete-button{
    display: none;
}


.content {
    color: gray;
    /* word-break: break-all; */
    margin-top: 5px;
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 800px;
}
