.createTaskModalButton {
    border: transparent;
    background-color: transparent;
    color: grey;
    font-size: medium;
    padding-top: 5px;
}

.createTaskModalButton:hover {
    background-color: beige;
}

.post-button {
    border: transparent;
    background-color: rgb(177, 177, 177);
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 12px;
}

.post-button:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

.cancel-task-button {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    font-weight: 600;
}

.cancel-task-button:hover {
    background-color: rgba(235, 235, 235);
    cursor: pointer;
}

.post-cancel-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.project-create-container {
    display: flex;
    flex-direction: column;
}

.select-project-button {
    margin-right: 105px;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.select-project-button:hover {
    background-color: rgba(235, 235, 235);
}

.task-input {
    border-radius: 3px;
    border: 1px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.task-input::placeholder {
    font-weight: 500;
    font-size: 14px;
}

.date-picker-container {
    margin-right: 75px;
}
