.createTaskModalButton {
    border: transparent;
    background-color: transparent;
    color: grey;
    font-size: medium;
    padding-top: 5px;
}

.createTaskModalButton:hover {
    background-color: beige;
}

.post-button {
    border: transparent;
    background-color: #E44232;
    color: white;
    padding: 5px 30px;
    border-radius: 8px;

}

.post-cancel-button-container {
    display: flex;
    justify-content: space-evenly;
}

.form-title {
    text-align: center;
}

.project-create-container {
    display: flex;
    flex-direction: column;
}

.label-container {
    text-align: center;
}
