.createTaskModalButton {
    border: transparent;
    background-color: transparent;
    color: grey;
    font-size: medium;
    padding-top: 5px;
}

.createTaskModalButton:hover {
    background-color: beige;
}

.post-button {
    border: transparent;
    background-color: rgb(177, 177, 177);
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 12px;
}

.post-button:hover {
    background-color: rgb(61, 61, 61);
    cursor: pointer;
}

.cancel-task-button {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    font-weight: bold;
}

.cancel-task-button:hover {
    background-color: rgba(235, 235, 235);
    cursor: pointer;
}

.post-cancel-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.project-create-container {
    display: flex;
    flex-direction: column;
}

.select-project-button {
    margin-left: 10px;
    padding: 5px 5px;
    border-radius: 5px;
}
