.footer-container {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(white, #FAE8D5);
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
}

.fa-brands {
    padding-top: 16px;
    padding-right: 16px;
}

.link-and-icon {
    margin-top: 10px;
    width: 100px;
}

.fa-brands.fa-github-square {
    text-align: center;
}

.footer-ul {
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
    list-style-type: none; /* Remove bullets */
}
 li {
    margin-top: 15px;
 }

 .footer-section {
    font-weight: bold;
    color: gray;
    font-size: small;
 }
