.project-titles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    line-height: 21px;
    margin-top: 0;
    padding-left: 10px;
}

.project-links {
    text-decoration: none;
    cursor: pointer;
    min-width: 90%;
    padding: 10px 0;
}

.project-container {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 0 10px;
}


.project-container:hover {
    background-color: rgb(238,238,238);
}

.project-container:hover .project-edit-button {
    display: block;
}
.project-container .project-edit-button {
    display: none;
}
