.project-titles {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

.project-titles:hover {
    background-color: rgb(238, 238, 238);
}

.project-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.294);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-container:hover .project-edit-button {
    display: block;
}
.project-container .project-edit-button {
    display: none;
}
