.project-titles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    line-height: 21px;
}


.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 20px;
}

.project-container:hover {
    background-color: rgb(238,238,238);
}

.project-container:hover .project-edit-button {
    display: block;
}
.project-container .project-edit-button {
    display: none;
}
