.checkbox-button {
    border: transparent;
    background-color: transparent;
}

.checkbox-container:hover #checked{
    display: block;
}

.checkbox-container:hover #empty {
    display: none
}

.checkbox-container #checked{
    display: none;
}

.checkbox-container #empty {
    display: block;
}
