.project-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.title-edit {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

.edit {
    display: flex;
    margin-top: 25px;
}

/* .task-container {
    display: flex;
} */
