.split-flex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter.gutter-horizontal:hover {
  background-color: rgba(78, 78, 78, 0.143);
}

.sidebar-close {
  width: 0px;
  transition: all 0.2s ease-out;
}
.sidebar-open {
  width: 372px;
  transition: all 0.2s ease-out;
}

.content-close {

}
