.split-flex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter.gutter-horizontal:hover {
  background-color: rgba(78, 78, 78, 0.143);
}
