.edit-button {
  border: transparent;
  background-color: transparent;
  padding: 10px 10px;
  margin: 1px 3px;
  border-radius: 5px;
}


.edit-button:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.493);

}

.save-cancel-container {
  display: flex;
  flex-direction: column;
}
.save-button {
  background-color: rgb(61, 61, 61);
  color: white;
  border-radius: 3px;
  border: transparent;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
}

.save-button:hover {
  cursor: pointer;
}
