.form-container {
    padding: 15px 15px;
    min-width: 400px;
}

.cancel-button {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    font-weight: bold;
}

.cancel-button:hover {
    /* background-color: rgba(235, 235, 235); */
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.add-tasklist-button {
    border: transparent;
    background-color: transparent;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-tasklist-button:hover {
    cursor: pointer;
}

.add-tasklist {
    color: gray;
  }
  
.add-tasklist:hover {
    color: black;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(238,238,238);
}


.post-delete-buttons-container{
    display: flex;
    flex-direction: column;
}

.form-title {
    font-family: sans-serif;
    margin: 0 0;
    padding: 20px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.394);
    background-color: #FAFAFA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.errors {
    text-align: center;
    color: #E44232;
}


.description-input {
    border-radius: 3px;
    border: 1px solid grey;
    padding-bottom: 29px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.description-input::placeholder {
    font-weight: 400;
    font-size: 14px;
}
