.createProjectModalButton {
    border: transparent;
    background-color: transparent;
    font-size:xx-large;
    color: white;
}

.createProjectModalButton:hover {
    background-color: grey;
}

.cancel-button {
    border: transparent;
    background-color: transparent;
}

.post-delete-buttons-container{
    display: flex;
    justify-content: space-evenly;
}

.form-title {
    text-align: center;
}
