.form-container {
    padding: 15px 15px;
    min-width: 300px;
}
.cancel-project-button {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    font-weight: bold;
}

.cancel-project-button:hover {
    /* background-color: rgba(235, 235, 235); */
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.add-tasklist-button {
    border: transparent;
    background-color: transparent;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-tasklist-button:hover {
    background-color: grey;
    cursor: pointer;
}

.cancel-button {
    border: transparent;
    background-color: transparent;
}

.post-delete-buttons-container{
    display: flex;
    flex-direction: column;
}

.form-title {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.394);
}

.project-button {
    border-radius: 3px;
    border: transparent;
    background-color: #E44232;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-button:hover {
    cursor: pointer;
}

.errors {
    text-align: center;
    color: #E44232;
}
