.main-content {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tasklist-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-top: 40px;
}

.main-add {
    color: #808080;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: auto;
    margin-top: 10px;
}

.main-add:hover .add-circle {
    color:white;
    background-color: #000000;
}

.main-add:hover .button-text {
    color: black;
}

.button-text {
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

svg.add-circle {
    height: 20px;
    width: 20px;
    border-radius: 25px;
    position: relative;
}
