.project-main-content {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tasklist-title {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-top: 40px;
}

.main-add {
    color: #808080;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;
    width: auto;
  }
