.task-edit-delete-button {
    border: transparent;
    background-color: transparent;
}

.task-edit-delete-button:hover {
    background-color: lightgrey;
    cursor: pointer;
    border-radius: 2px;
}
