.task-edit-delete-button {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: gray;
    font-size: 18px;
}

.task-edit-delete-button:hover {
    color: black;
}
